@use '../variables/font';
@use '../variables/color';

body {
  font-family: font.$primary;
  color: color.$white-default;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.1em;

  background-color: color.$grey-dark;

  min-width: 320px;
}
