@use '../variables/color';
@use '../variables/font';
@use '../mixins/breakpoint' as *;

.button {
  position: relative;
  font-family: font.$secondary;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background-color: color.$accent;
  padding: 1.25rem 2rem;

  &:focus-visible {
    outline: 0.125rem dashed color.$focus;
    outline-offset: 0.125rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0%;
    right: 48.83%;
    bottom: 0%;
    left: 0%;
    border-bottom: 3.75rem solid color.$accent-darker;
    border-right: 50px solid transparent;
  }

  &_text {
    position: relative;
  }
}
