@use '../variables/color';
@use '../variables/font';
@use '../mixins/breakpoint' as *;

.button {
  &__search {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-family: font.$secondary;
    letter-spacing: 0.1em;
    line-height: 1.4285;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: color.$accent;
    border: 0.25rem solid color.$white-default;

    &:focus-visible {
      outline: 2px dashed color.$focus;
      outline-offset: -3.5px;
    }
  }

  &_icon {
    width: 1rem;
    height: 1rem;
    fill: color.$white-default;
  }

  &_text {
    display: none;

    @include for-phone {
      display: block;
    }
  }
}
