@use '../variables/color';
@use '../mixins/breakpoint' as *;

.card-container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  @include for-phone {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @include for-desktop-small {
    padding-top: 13.75rem;
  }
}

.card {
  padding: 1.375rem 1rem;
  background-color: color.$card-bg;

  @include for-phone {
    padding: 2.75rem 2rem;
  }

  & * + * {
    margin-top: 1rem;
  }

  &_button {
    margin-top: 1.75rem;
  }

  @include for-desktop-small {
    max-width: 34.375rem;

    &__alt {
      margin-left: auto;
    }
  }

  @include for-desktop-big {
    max-width: 40.5rem;
  }
}
