@use '../mixins/breakpoint' as *;

.description {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;

  @include for-phone {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  @include for-desktop-small {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &_images {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include for-phone {
      flex-direction: row;
      gap: 1.5rem;
    }

    @include for-desktop-small {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &_image {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include for-phone {
      width: 47.75%;
    }

    @include for-tablet {
      width: 48.5%;
    }

    @include for-desktop-small {
      width: inherit;

      &:nth-child(odd) {
        margin-right: 2.25rem;
      }

      &:nth-child(even) {
        margin-left: 2.25rem;
      }
    }

    @include for-desktop {
      &:nth-child(odd) {
        margin-right: 6.875rem;
      }

      &:nth-child(even) {
        margin-left: 6.875rem;
      }
    }
  }

  &_content {
    margin-top: 2.25rem;
    text-align: center;

    @include for-tablet {
      margin-top: 2rem;
    }

    @include for-desktop-small {
      text-align: left;
      margin-top: 4.125rem;
      margin-right: auto;
      max-width: 34.375rem;
    }
  }

  &_text {
    margin-top: 1.25rem;

    @include for-tablet {
      margin-top: 1.5rem;
    }
  }

  &_button {
    margin-top: 1.5rem;
  }
}
