@use '../variables/font';
@use '../mixins/breakpoint' as *;

.heading {
  font-size: 1.25rem;
  line-height: 1.4;

  &__xxl {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.0833;
    letter-spacing: 0;
    text-transform: uppercase;

    @include for-phone-small {
      font-size: 3rem;
    }
  }

  &__xl {
    font-family: font.$secondary;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1111;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  &__l {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.27272;
    letter-spacing: 0.31em;
    text-transform: capitalize;
  }
}
