@use '../variables/color';
@use '../mixins/breakpoint' as *;

.logo {
  fill: color.$white-default;
  width: 10.5rem;
  height: 1.25rem;
  cursor: pointer;

  @include for-desktop-small {
    width: 9.375rem;
  }

  &:hover {
    fill: color.$hover;
  }

  &__alt {
    height: 1.75rem;

    &:hover {
      fill: color.$accent;
    }
  }
}
