.section-background {
  background: url('../assets/images/backgrounds/city.png') center / cover
    no-repeat;

  &__house {
    background-image: url('../assets/images/backgrounds/house-with-pool.png');
  }

  &__spain {
    background-image: url('../assets/images/backgrounds/spain-mountain.png');
  }
}
